# Ignore Jupyter Notebooks files
*.ipynb linguist-detectable=false 

# Ignore Unity files
app/* linguist-generated=true
app/Assets/Scripts/* linguist-generated=false
app/Assets/Scripts/Gradients/* linguist-generated=true

# Ignore external libraries in hardware
hardware/lib/* linguist-vendored=true
hardware/lib/Deque/* linguist-vendored=false
